.card {
  flex: 1 0 15%;
  display: flex;
  justify-content: space-between;
  flex-direction: column;
  margin-bottom: 50px;
  // min-width: 150px;
  margin: 20px;
  background: rgb(0, 0, 47);
  border-radius: 30px;
  padding: 25px;
  font-family: $title-font;
  .img-container {
    margin: 0 auto;
    width: 50%;
    height: 100%;
    img {
      width: 100%;
    }
  }
  #release {
    font-family: $body-font;
  }
  #synopsis {
    height: 7.5em;
    display: -webkit-box;
    -webkit-box-orient: vertical;
    overflow: hidden;
    line-clamp: 6;
    font-family: $body-font;
  }
  button {
    z-index: 1;
  }
}
.added {
  background-color: gray;
  color: white;
  cursor: not-allowed;
}
