.navigation {
  ul {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 20px;
    font-family: $title-font;
    a {
      margin: 0 60px;
      font-size: 6rem;
      li {
        position: relative;
        display: inline-block;
        font-weight: 800;
        color: transparent;
        background-color: transparent;
        -webkit-text-stroke: 2px white;
        overflow: hidden;
        background: linear-gradient(
          to right,
          rgb(255, 255, 255) 50%,
          transparent 50%
        );
        background-clip: text;
        -webkit-background-clip: text;
        -webkit-text-fill-color: transparent;
        background-size: 200% 100%;
        background-position: 100%;
        transition: background-position 375ms ease;
        &:hover {
          background-position: 0 100%;
        }
      }
    }
    .nav-active li {
      background-position: 100%;
      // border-bottom: 3px white solid;
      &::after {
        content: "";
        position: absolute;
        bottom: 5px;
        left: 0;
        width: 100%;
        height: 3px;
        background: white;
        transition: after 0.5s ease;
      }
      &:hover {
        background: none;
        transition-delay: 5000ms;
      }
    }
  }
}

@keyframes after {
  0% {
    width: 0;
  }
  100% {
    width: 100%;
  }
}
