.search-form {
  display: flex;
  align-items: center;
  flex-direction: column;
  #searchBar {
    margin-bottom: 30px;
    width: 17vw;
    min-width: 100px;
    height: 2vw;
    min-height: 20px;
    padding: 5px;
    border-radius: 5px;
    color: rgb(0, 0, 0);
    border: none;
    transition: 0.2s ease-in-out;
    &:focus {
      outline: none;
      scale: 1.05;
    }
  }
  .search-filter {
    display: flex;
    width: 15vw;
    min-width: 180px;
    justify-content: space-between;
    .filter {
      padding: 10px 20px 10px 20px;
      font-family: $title-font;
      border-radius: 5px;
      border: none;
      letter-spacing: 1.5px;
      position: relative;
      width: 40%;
      min-width: 80px;
      transition: 0.2s ease-in-out;
      &:hover {
        cursor: pointer;
      }
      #up {
        margin-left: 5px;
        color: rgb(0, 0, 0);
        opacity: 0;
        position: absolute;
        transform: translateY(150%);
        font-size: 20px;
        transition: 0.3s ease-in-out;
      }
      #down {
        margin-left: 5px;
        color: rgb(0, 0, 0);
        opacity: 0;
        position: absolute;
        transform: translateY(-150%);
        font-size: 20px;
        transition: 0.3s ease-in-out;
      }
      &.active {
        #up {
          opacity: 1;
          transform: translateY(-10%);
          font-size: 20px;
        }
        #down {
          opacity: 1;
          transform: translateY(-10%);
          font-size: 20px;
        }
      }
    }
  }
}
